
  <div class="card-header text-white bg-secondary mb-3">
    <h5>Pessoas cadastradas</h5>
  </div>

<div class="col-md-12 centeralign">
  <div class="card centeralign addmargin" style="width: 20rem;" *ngFor="let person of personsList">
      <li class="list-group-item">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <button (click)=goToDetailsPage(person.businessEntityID) class="btn btn-secondary">Telefones</button>
        </div>
      </li>
    </div>
</div>
