<div class="card-header text-white bg-secondary">
  <h5>
    Lista de telefones
  </h5>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Número do Telefone</th>
      <th scope="col">Tipo de Número</th>
      <th scope="col">Editar</th>
      <th scope="col">Deletar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let phone of phonesList">
      <th class="card-text">
        <input type="email" class="form-control" [(ngModel)]="phone.phoneNumber"
          style="text-align:center" placeholder={{phone.phoneNumber}}>
      </th>
      <th class="card-text">
        <select class="form-control" [(ngModel)]="phone.phoneNumberTypeID">
          <option selected disabled hidden>{{phone.phoneNumberType.name}}</option>
          <option value=1>Local phone</option>
          <option value=2>Cellphone</option>
        </select>
      </th>
      <th>
        <button (click)=editPersonPhone(phone) class="btn btn-dark col-md-5">Editar</button>
      </th>
      <th>
        <button (click)=deletePersonPhone(phone.businessEntityID) class="btn btn-danger col-md-5">Deletar</button>
      </th>
    </tr>
  </tbody>
</table>

<button (click)=goToCustomerPage() class="btn btn-secondary col-md-1 mr-2">Voltar</button>
<button (click)=insertPersonPhone() class="btn btn-dark col-md-1">Inserir Novo</button>




