<div class="card-header text-white bg-secondary">
  <h5>
    Lista de telefones
  </h5>
</div>

<table class="table mb-3" style="width: 80%; margin: auto;">
  <thead>
    <tr>
      <th style="width: 20%" scope="col">Tipo de Número</th>
      <th style="width: 40%" scope="col">Número do Telefone</th>
      <th style="width: 20%" scope="col">Editar</th>
      <th style="width: 20%" scope="col">Deletar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let phone of phonesList">
      <th class="card-text">
        <select class="form-control" [(ngModel)]="phone.phoneNumberTypeID">
          <option selected disabled hidden>{{phone.phoneNumberType.name}}</option>
          <option value=1>Local phone</option>
          <option value=2>Cellphone</option>
        </select>
      </th>
      <th class="card-text" *ngIf="phone.phoneNumberTypeID == 1" >
        <input type ="text" class="form-control" [(ngModel)]="phone.phoneNumber"
          style="text-align:center" placeholder={{phone.phoneNumber}}
          maxlength="15" mask="(00)0000-0000">
      </th>
      <th class="card-text" *ngIf="phone.phoneNumberTypeID != 1" >
        <input type ="text" class="form-control" [(ngModel)]="phone.phoneNumber"
          style="text-align:center" placeholder={{phone.phoneNumber}}
          maxlength="15" mask="(00)00000-0000">
      </th>
      <th>
        <button (click)=editPersonPhone(phone) *ngIf="phone.businessEntityID" class="btn btn-dark col-md-5">Editar</button>
        <button (click)=insertPersonPhone(phone) *ngIf="!phone.businessEntityID"class="btn btn-dark col-md-5">Criar</button>
      </th>
      <th>
        <button (click)=deletePersonPhone(phone.businessEntityID) *ngIf="phone.businessEntityID" class="btn btn-danger col-md-5">Deletar</button>
      </th>
    </tr>
  </tbody>
</table>

<button (click)=goToCustomerPage() class="btn btn-secondary col-md-1 mr-2">Voltar</button>
<button (click)=criarPersonPhone() class="btn btn-dark col-md-1">Inserir Novo</button>




